

   





<style>
    .mcard {
        width: 300px;
        border: 1px solid rgb(231, 231, 231);
        padding: 15px 5px;
        border-radius: 10px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        
    }
     #winkk {
        font-size: 25px;
        margin: 10px 0;
    }

    .mcard:hover {

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    button {
        color: white !important;
        font-weight: 600 !important;
        width: 200px ;   }
    hr{
        width: 300px;
        margin-left: -5px;

    }
    .ribbon{
        background-color: red;
        color: white;
        transform: rotate(45deg);
        width: 200px;
        margin-left:170px;
        margin-right: -20px;
    }
</style>
<div class="container">
    <center>
        <div class="mcard">
                <div class="ribbon">new</div>
            <img style="width: 200px;"
                src="https://d3ui957tjb5bqd.cloudfront.net/uploads/images/3/32/32249.og.jpg?1462202202">
            <hr>
            <div>
                Solve Your Exams from home
            </div>
            <div id="winkk">&#128521;</div>
            <hr>
            now for 
            <div style="font-size: 20px;margin:20px 0 ;">1 , 2 , 3  secondary</div>
            you can solve all your final exams from home 
            <hr>
            <a href="/pearson">
            <button class="btn btn-danger ">Visit</button>
            </a>
        </div>
    </center>
</div>
