<style>
    #foot {
        /* margin-top: 50px; */
        height: 35vh;
        width: 100%;
        padding:8vh 0;
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29) ;
        margin-top: 15vh;
       
    }

  #foot h1{
      font-weight: 100;
  }
 
</style>
<style>
/*common styles !!!YOU DON'T NEED THEM */
 .container {
	 margin: 60px auto 0px auto;
	 text-align: center;
}

 .container h1 span {
	 display: inline-block;
}


 .effect h2 {
	 color: #fff;
	 font-family: 'Playfair Display', serif;
	 font-weight: 400;
	 font-size: 25px;
	 letter-spacing: 3px;
}
 .effect:nth-child(2) {
	 margin-top: 50px;
}
 .effect:nth-child(2n+1) {
	 background-color: #fff;
}
 .effect:nth-child(2n+1) h2 {
	 color: #212121;
}
 .effect .buttons {
	 margin-top: 50px;
	 display: flex;
	 justify-content: center;
}
 .effect a:last-child {
	 margin-right: 0px;
}
/*common link styles !!!YOU NEED THEM*/
 .effect {
	/*display: flex;
	 !!!uncomment this line !!!*/
}
 .effect a {
	 text-decoration: none !important;
	 color: #fff;
	 width: 60px;
	 height: 60px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 border-radius: 10px;
	 margin-right: 20px;
	 font-size: 25px;
	 overflow: hidden;
	 position: relative;
}
 .effect a i {
	 position: relative;
	 z-index: 3;
}
 .effect a.fb {
	 background-color: #3b5998;
}
 .effect a.tw {
	 background-color: #00aced;
}
 .effect a.g-plus {
	 background-color: #dd4b39;
}
 .effect a.dribbble {
	 background-color: #ea4c89;
}
 .effect a.pinterest {
	 background-color: #cb2027;
}
 .effect a.tele{
	 background-color: #2aa1da;
}
 .effect a.whats {
	 background-color: #25D366;
}
 .effect a.vimeo {
	 background-color: #1ab7ea;
}
/* aeneas effect */
 .effect.aeneas a {
	 transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}
 .effect.aeneas a i {
	 transition: transform 0.4s linear 0s;
}
 .effect.aeneas a:hover {
	 transform: rotate(360deg);
	 border-radius: 50%;
}
 .effect.aeneas a:hover i {
	 transform: rotate(-360deg);
}
/* jaques effect */
 .effect.jaques a {
	 transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}
 .effect.jaques a:hover {
	 border-radius: 50%;
}
/* egeon effect */
 .effect.egeon a {
	 transition: transform 0.2s linear 0s, border-radius 0.2s linear 0.2s;
}
 .effect.egeon a i {
	 transition: transform 0.2s linear 0s;
}
 .effect.egeon a:hover {
	 transform: rotate(-90deg);
	 border-top-left-radius: 50%;
	 border-top-right-radius: 50%;
	 border-bottom-left-radius: 50%;
}
 .effect.egeon a:hover i {
	 transform: rotate(90deg);
}
/* claudio effect */
 
</style>
<div id="foot">
<center>
    <h1 style="color: white;font-family:Righteous;">Follow us on </h1>
    <div class="effect egeon">
        <div class="buttons">
            <a  target="_blank" href="https://www.facebook.com/TheAGsociety/" class="fb" title="Join us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a  target="_blank" href="https://www.twitter.com/society_ag" class="tw" title="Join us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a  target="_blank" href="mailto:ag.agsociety@gmail.com" class="g-plus" title="Contact us"><i class="fa fa-envelope"" aria-hidden="true"></i></a>
                   
            <a target="_blank"  href="https://t.me/joinchat/MpXTFBWe4VsZECQI8Kg5Ug" class="tele" title="Join us on Telegram"><i class="fa fa-telegram" aria-hidden="true"></i></a>
            
            <!-- <a target="_blank"  href="#" class="whats" title="Join us on whatsapp In"><i  class="fa fa-whatsapp"" aria-hidden="true"></i></a> -->
        </div>
    </div>
</center>

</div>