<style>
    #head {
        /* margin-top: 50px; */
        height: 40vh;
        width: 100%;
        background: url('skull.png'),linear-gradient(to right, #24243e, #302b63, #0f0c29) ;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .ara {
        height: 10vh;
        width: 100%;
        background:linear-gradient(to right, #24243e, #302b63, #0f0c29);
    }
    #top{
        margin-top: 50px;
    }
</style>
<div class="ara" id="top"></div>
<div id="head">


</div>
<div class="ara"></div>