<style>
    #navbar {
        background-color: #fff;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
        height: 50px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1150;
    }

    #navbar img {
        height: 70px;
        margin: 5px 0 0 3px;
    }

    #logoo {
        background-color: #fff;
        height: 90px;
        box-shadow: 0 12px 8px rgba(0, 0, 0, 0.12);
        border-radius: 50%;
        width: 90px;
        margin: 10px auto 0;
    }
</style>

<div id="navbar">
    <div id="logoo">
        <a href="/">

            <img src="AG.png" alt="">
        </a>
    </div>




</div>